@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
 

* {
  margin: 0;
  padding: 0;

}

body {
  background: #EDEDED /* grey */
}

/* center page content */

.content {
  right: 0;
  border: 2px solid #13B17F;
  margin-left: 252px;
  height: 90%;
  overflow: hidden;
}


.login_container {
  margin: auto;
  margin-top: 150px;

  width: 400px;
  height: 550px;
  background-color: #fff;
  border-radius: 30px; /*rounded corners */
  box-shadow: 5px 5px 5px #DEDEDE;
}

.loginimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 50%

}


/*edited css from project1*/
.login {
  display: block;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.libutton
{
  display: flex;
  width: 400px;
  align-content: center;
  justify-content: center;

}

h3 {
  text-align:center;
  color: #1A1A1A;
  /*pretty blue: 20D1DF*/
}

button {
    width: 75px;
    height: 40px;
    border-radius: 13px;
    border: 1px solid #e0e0e0;
    background-color: #13B17F;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .6px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: #A8A8A8;
}

button:active {
    background-color: #3B3B3B;
}

input {
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


/* Register link */
.toregister {
  margin-top: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}

.toregister li a {
  color: #494949;
  text-decoration: none;
}
.toregister li a:hover {
  color: #13B17F;
  text-decoration: none;
}
