@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


* {
  margin: 0;
  padding: 0;

}

body {

  overflow: auto;
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  padding-top: 56px;

}

/* center page content */

#main {
    transition: margin-left .2s;
    padding: 16px;
    margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 7px;}
  .sidenav a {font-size: 18px;}
}


#carouselExampleIndicators {
  margin: 0;
  width: 70%;
  border-radius: 1px; /*rounded corners */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

 .container {
  padding-bottom: 50px;
}

.maincontent {
  margin: auto;
  margin-top: 100px;
  width: 70%;
  height: 70%;
}

.content {
  margin: auto;
  margin-top: 100px;
  width: 70%;
  height: 70%;
  background-color: #fff;
  border-radius: 30px; /*rounded corners */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.classTitle {
  padding-top: 30px;
  padding-left: 40%;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}


.input_elements {
  margin-bottom: 3%;
  height: 7%;
  width: 80%;
}


.login_container {
  overflow-y: auto;
  margin: auto;
  margin-top: 100px;
  width: 375px;
  height: 75%;
  background-color: #fff;
  border-radius: 30px; /*rounded corners */
  box-shadow: 5px 5px 5px #DEDEDE;
}

.register_container {
  overflow-y: auto;
  margin: auto;
  margin-top: 90px;
  width: 375px;
  height: 75%;
  background-color: #fff;
  border-radius: 30px; /*rounded corners */
  box-shadow: 5px 5px 5px #DEDEDE;
}

.loginimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 50%;
}


/*edited css from project1*/
.login {
  display: block;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.register {
  display: block;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.libutton
{
  display: flex;
  width: 400px;
  align-content: center;
  justify-content: center;
  width: 85px;
  height: 40px;
  border-radius: 13px;
  border: 1px solid #e0e0e0;
  background-color: #13B17F;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .6px;
  font-family: 'Poppins', sans-serif;

}

.libutton:hover {
    background-color: #A8A8A8;
}

.libutton:active {
    background-color: #3B3B3B;
}


button {
    width: 80px;
    height: 40px;
    border-radius: 13px;
    border: 1px solid #e0e0e0;
    background-color: #13B17F;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .6px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    background-color: none;
}

button:active {
    background-color: #3B3B3B;
}

input {
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    background-color: #f0f0f0;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}


/* Register link */
.switch_loginreg {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}

.switch_loginreg li a {
  color: #494949;
  text-decoration: none;
}
.switch_loginreg li a:hover {
  color: #13B17F;
  text-decoration: none;
}

#copyright {
  position: absolute;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75em;
  color: #fff;
  width: 100%;
  padding: 8px;
  border-top: 1px solid #E0E0E0;
  background: #13B17F;
  /* background: #581845; */
  /* background: #fff; */

  text-align: center;
  opacity: 0.9;
}
