@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


* {
  margin: 0;
  padding: 0;

}

.navbar-default {
  background-color: #fff;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  color: black;

}

#navbarNav .navbar-nav > li > a:hover {
  background-color: #fff;
  text-decoration: none;
}
